@import '../../styles/variables';

.header {
	width: 100%;
	height: 80px;
	box-shadow: 1px 1px 4px 0px $box-shadow;
	background-color: $background;
	&__container {
		width: 90%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		&_logo {
			width: 110px;
			height: 48px;
		}
	}
}
