@import '../../styles/variables';

.course {
	width: 100%;
	height: 100vh;
	&__container {
		width: 70%;
		margin: 0 auto;
		&_line {
			border-right: 1px solid $line;
			height: 203px;
			margin-top: 30px;
			padding: 15px;
		}
		&_card {
			width: 96%;
			position: relative;
			padding: 40px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			background-color: $background;

			box-sizing: border-box;

			border: 1px solid $border;
			border-radius: 4px;

			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				width: 0;
				background-color: $black;
				transition: width 0.3s ease;
			}
		}
		&_left {
			display: flex;
			flex-direction: column;
		}
		&_description {
			max-width: 487px;
			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
			font-weight: 400;
			line-height: 20px;
			text-align: left;

			color: $text-color;
		}
		&_title {
			font-family: 'Open Sans', sans-serif;
			font-weight: 700;
			font-size: 20px;
			line-height: 20px;
			color: $text-color;
			margin-top: 4px;
		}
		&_right {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 30px;
			// margin-top: 25px;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		&_inline {
			display: flex;
		}
		&_label {
			display: flex;
			flex-direction: column;
			margin-right: 20px;
			margin-top: 10px;
		}
		&_value {
			display: flex;
			flex-direction: column;
			margin-top: 10px;
		}
		&_value p {
			margin: 0;
			padding-bottom: 25px;
		}
		&_button {
			display: flex;
			justify-content: flex-end;
			padding: 13px 36px;
			gap: 10px;
		}
	}
}
